{% load static %}
<section class="gi-offer-section overflow-hidden py-[40px] max-[767px]:py-[30px]">
  <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
    <div class="w-full flex flex-wrap">
      <!-- Banner -->
      <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] gi-all-product-content wow fadeInUp">
        <div class="gi-banner-inner h-full p-[0] flex flex-row items-center justify-between rounded-[5px] overflow-hidden">
          <div class="gi-banner-block w-full h-full relative max-[767px]:h-[450px] max-[767px]:bg-bottom max-[480px]:h-[400px] max-[420px]:h-[350px]">
            <img src="{% static 'assets/img/banner/4.jpg' %}" alt="Banner Image" class="w-full h-full object-cover object-center absolute inset-0" />
            <div class="banner-block relative flex overflow-hidden justify-center items-center">
              <div class="banner-content w-full h-full flex flex-col items-start justify-center p-[30px] cursor-pointer rounded-[30px]">
                <div class="banner-text mb-[15px] flex flex-col">
                  <span class="gi-banner-title text-[22px] relative leading-[32px] text-[#444] font-semibold tracking-[0] mb-[10px] capitalize max-[420px]:text-[20px]">Our top most products check it now</span>
                </div>
                <a href="shop-left-sidebar-col-3.html" class="gi-btn-2 transition-all duration-[0.3s] ease-in-out overflow-hidden text-center relative rounded-[5px] py-[5px] max-[360px]:py-[3px] px-[15px] max-[360px]:px-[10px] bg-[#5caf90] text-[#fff] border-[0] text-[14px] max-[360px]:text-[13px] tracking-[0] font-medium inline-flex items-center hover:bg-[#4b5966] hover:text-[#fff]">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Trending -->
      <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] gi-all-product-content max-[767px]:mt-[40px] wow fadeInUp" data-wow-delay=".4s">
        <div class="w-full">
          <div class="section-title mb-[0] pb-[15px]">
            <div class="section-detail">
              <h2 class="gi-title mb-[0] text-[25px] max-[991px]:text-[24px] max-[767px]:text-[22px] max-[575px]:text-[20px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1] font-manrope tracking-[0.01rem]">Trending <span class="text-[#5caf90]">Items</span></h2>
            </div>
          </div>
        </div>
        <div class="gi-trending-slider">
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/10_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize" title="Healthy Nutmix, 200g Pack">Healthy Nutmix, 200g Pack</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Driedfruit</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$42.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$45.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 5 kg</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/11_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Organic fresh tomato</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$25.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$30.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 250 g</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/19_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Coffee with chocolate cream mix pack</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Coffee</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$62.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$65.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 1 kg</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/25_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Fresh Lichi</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Fruits</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$10.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$11.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 500 g</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/5_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Berry & Graps Mix Snack</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Driedfruit</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$52.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$55.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 1 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/29_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Pineapple</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Fruits</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$20.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$30.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 12 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Rated -->
      <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] gi-all-product-content max-[1199px]:mt-[40px] wow fadeInUp" data-wow-delay=".6s">
        <div class="w-full">
          <div class="section-title mb-[0] pb-[15px]">
            <div class="section-detail">
              <h2 class="gi-title mb-[0] text-[25px] max-[991px]:text-[24px] max-[767px]:text-[22px] max-[575px]:text-[20px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1] font-manrope tracking-[0.01rem]">Top <span class="text-[#5caf90]">Rated</span></h2>
            </div>
          </div>
        </div>
        <div class="gi-rated-slider">
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/17_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Ginger - Organic</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">vegetables</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$62.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$65.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 1 kg</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/2_2.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Dates Value Pouch Dates Pouch</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Driedfruit</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$56.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$78.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 3 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/23_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Blue berry</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Fruits</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$25.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$30.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 250 g</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/13_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Onion - Hybrid</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">vegetables</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$20.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$30.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 12 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/12_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Potato</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$50.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$55.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 2 pack</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/28_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Mango - Kesar</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Fruits</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$52.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$55.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 1 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Selling -->
      <div class="min-[1200px]:w-[25%] min-[768px]:w-[50%] w-full px-[12px] gi-all-product-content max-[1199px]:mt-[40px] wow fadeInUp" data-wow-delay=".8s">
        <div class="w-full">
          <div class="section-title mb-[0] pb-[15px]">
            <div class="section-detail">
              <h2 class="gi-title mb-[0] text-[25px] max-[991px]:text-[24px] max-[767px]:text-[22px] max-[575px]:text-[20px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1] font-manrope tracking-[0.01rem]">Top <span class="text-[#5caf90]">Selling</span></h2>
            </div>
          </div>
        </div>
        <div class="gi-trending-slider">
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/18_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Lemon - Seedless</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Vegetables</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$42.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$45.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 5 kg</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/28_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Mango - Kesar</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Fruits</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$62.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$65.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 1 kg</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/7_2.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Mixed Nuts & Almonds Dry Fruits</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Driedfruit</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$10.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$11.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 500 g</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/3_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Californian Almonds Value Pack</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Driedfruit</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$25.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$30.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 250 g</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/13_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Onion - Hybrid</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">vegetables</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$20.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$30.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 12 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
          <div class="w-full gi-all-product-block">
            <div class="gi-all-product-inner mr-[1px] p-[15px] flex flex-wrap items-center bg-[#fff] border-[1px] border-solid border-[#eee] overflow-hidden relative rounded-[5px]">
              <div class="gi-pro-image-outer basis-[70px]">
                <div class="gi-pro-image overflow-hidden rounded-[15px]">
                  <a href="product-left-sidebar.html" class="image"><img class="main-image w-full" src="{% static 'assets/img/product-images/5_1.jpg' %}" alt="Product" /></a>
                </div>
              </div>
              <div class="gi-pro-content w-[calc(100%-70px)] basis-[calc(100%-70px)] pl-[15px]">
                <h5 class="gi-pro-title text-[16px] mb-[5px]"><a href="product-left-sidebar.html" class="text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block font-Poppins text-[14px] leading-[24px] font-medium tracking-[0.2px] capitalize">Berry & Graps Mix Snack</a></h5>
                <h6 class="gi-pro-stitle text-[#777] whitespace-nowrap overflow-hidden text-ellipsis block text-[13px] leading-[24px] font-normal tracking-[0.3px] capitalize mb-[5px]"><a href="shop-left-sidebar-col-3.html" class="text-[#999] hover:text-[#5caf90]">Driedfruit</a></h6>
                <div class="gi-pro-rat-price">
                  <div class="gi-pro-rat-pri-inner">
                    <span class="gi-price text-[14px] flex items-center text-[#5caf90]">
                      <span class="new-price text-[#4b5966] font-bold text-[14px]">$52.00</span>
                      <span class="old-price text-[12px] line-through text-[#777] ml-[9px]">$55.00</span>
                      <span class="qty text-[12px] text-[#777] ml-[9px] hidden">- 1 pcs</span>
                    </span>
                  </div>
                </div>
                <a href="javascript:void(0)" class="add-to-cart w-[30px] h-[30px] absolute bottom-[10px] right-[10px] bg-[#fff] rounded-[3px] border-[1px] border-solid border-[#eee] flex items-center justify-center opacity-[0] max-[991px]:opacity-[1]" title="Add To Cart"><i class="fi-rr-shopping-basket text-[18px] text-[#777] leading-[0]"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
