{% extends 'useradmin/useradmin.base.html' %} {% block title %}
  Setting
{% endblock %}
{% load static %} {% block dashboard %}
  <main class="w-full flex-grow p-6">
    <header class="flex justify-between items-center mb-6">
      <div>
        <h1 class="text-2xl font-bold">Profile setting</h1>
      </div>
    </header>
    <form method="post" enctype="multipart/form-data" class="bg-white p-6 rounded-lg shadow-md w-full">
      {% csrf_token %}
      <div class="grid grid-cols-1 md:grid-cols-10 gap-6">
        <!-- Col-2 Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:col-span-8">
          <!-- Full Name -->
          <div class="md:col-span-2">
            <label for="full_name" class="block text-sm font-medium text-gray-700">Full Name</label>
            <input type="text" name="full_name" id="full_name" value="{{ request.user.profile.full_name }}" placeholder="Type here" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />
          </div>
          <!-- Email -->
          <div class="flex flex-col">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="text" id="email" value="{{ request.user.email }}" disabled class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />
          </div>
          <!-- Mobile -->
          <div class="flex flex-col">
            <label for="phone" class="block text-sm font-medium text-gray-700">Mobile</label>
            <input type="tel" name="phone" id="phone" value="{{ request.user.profile.phone }}" placeholder="+123 456 7890" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />
          </div>
          <!-- Address -->
          <div class="flex flex-col">
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <input type="text" name="address" id="address" value="{{ request.user.profile.address }}" placeholder="Type here" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />
          </div>
          <!-- Country -->
          <div class="flex flex-col">
            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
            <input type="text" name="country" id="country" value="{{ request.user.profile.country }}" placeholder="Type here" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500" />
          </div>
        </div>

        <!-- Col-1 Section -->
        <div class="bg-white rounded-lg border md:col-span-2">
          <label for="upload_cover" class="cursor-pointer">
            <h1 class="font-bold text-xl p-4">Media</h1>
            <div class="w-full border-t border-gray-300 my-6"></div>
            <div class="flex justify-center">
              <div class="relative w-[50px] h-[50px]">
                <div class="w-full h-full rounded-md overflow-hidden">
                  <img id="preview-image" src="{{ request.user.profile.image.url }}" alt="Default Image" class="w-28 h-28 object-cover rounded-md" />
                </div>
                <div class="flex items-center gap-2 text-[#5caf90] absolute bottom-0 right-0 mb-2 mr-2">
                  <i class="gicon gi-camera"></i>
                  <input type="file" id="upload_cover" name="image" hidden accept="image/*" />
                </div>
              </div>
            </div>
          </label>
        </div>
      </div>

      <!-- Save Button -->
      <div class="mt-6">
        <button type="submit" class="w-full md:w-auto px-6 py-2 text-white bg-green-500 hover:bg-green-600 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">Save changes</button>
      </div>
    </form>
  </main>
{% endblock %}
