{% extends 'base.html' %}
{% block title %}
  {{ request.user|title }} Dashboard
{% endblock %}
{% load static %}
{% block content %}
  {% include 'components/ui/header.html' %}
  {% include 'components/ui/sidebar.html' %}
  {% include 'components/ui/Breadcrumb.html' with title='Dashboard' active='Dashboard' %}

  <div class="gi-dashboar mb-[40px]">
    <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px] relative">
      <div class="flex flex-wrap w-full">
        <div class="w-full px-[12px]">
          <div class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 gap-6 w-full h-full">
            <!-- Sidebar -->
            <div class="col-span-1 md:col-span-2 lg:col-span-2">
              <nav>
                <ul class="space-y-6">
                  <li>
                    <button onclick="showTab(this, 'dashboard')" class="tab-btn w-full text-left px-4 py-2 rounded-md flex items-center bg-[#5caf90] text-white border-b-4 border-[#5caf90]" id="default-active">
                      <i class="gicon gi-home text-[24px] mr-2"></i>
                      <span>Dashboard</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="showTab(this, 'profile')" class="tab-btn w-full text-left px-4 py-2 rounded-md bg-white text-black border border-[#5caf90]">
                      <i class="fi-rr-shopping-bag text-[24px] mr-2 text-black"></i>
                      <span>Profile</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="showTab(this, 'orders')" class="tab-btn w-full text-left px-4 py-2 rounded-md bg-white text-black border border-[#5caf90]">
                      <i class="fi-rr-shopping-bag text-[24px] mr-2 text-black"></i>
                      <span>Orders</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="showTab(this, 'track')" class="tab-btn w-full text-left px-4 py-2 rounded-md bg-white text-black border border-[#5caf90]">
                      <i class="fi-rr-truck-side text-[24px] mr-2 text-black"></i>
                      <span>Track Your Order</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="showTab(this, 'address')" class="tab-btn w-full text-left px-4 py-2 rounded-md bg-white text-black border border-[#5caf90]">
                      <i class="fi fi-rr-marker text-[24px] mr-2 text-black"></i>
                      <span>My Address</span>
                    </button>
                  </li>
                  <li>
                    <button onclick="showTab(this, 'account')" class="tab-btn w-full text-left px-4 py-2 rounded-md bg-white text-black border border-[#5caf90]">
                      <i class="gicon gi-user text-[24px] mr-2 text-black"></i>
                      <span>Account Details</span>
                    </button>
                  </li>
                  <li>
                    <a href="{% url 'userauth:sign-out' %}">
                      <button class="tab-btn w-full text-left px-4 py-2 rounded-md bg-white text-black border border-[#5caf90]">
                        <i class="gicon gi-sign-out text-[24px] mr-2 text-black"></i>
                        <span>Logout</span>
                      </button>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

            <!-- Content -->
            <div class="col-span-1 md:col-span-4 lg:col-span-10">
              <!-- Dashboard Tab -->

              <div id="dashboard" class="tab-content">
                <h2 class="text-xl font-bold mb-4">Welcome to <span class="text-[#5caf90]">{{ request.user|title }}</span> ! Dashboard</h2>
                <p>From here, you can view and manage your orders, account details, and more.</p>
                <div>
                  <canvas id="myChart"></canvas>
                </div>
                <script>
                  const ctx = document.getElementById('myChart')
                  
                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: {{month|safe}},
                      datasets: [
                        {
                          label: 'Order',
                          data: {{total_orders|safe}},
                        }
                      ]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  })
                </script>
              </div>

              <!-- Profile Tab -->
              <div id="profile" class="tab-content flex flex-col gap-3">
                <div class="border-b border-gray-300 p-4">
                  <h2 class="text-xl font-bold mb-4">My Profile</h2>
                </div>
                <div class="flex flex-row items-center gap-10">
                  <img src="{{ user_profile.image.url }}" alt="{{ user_profile.full_name }}" class="w-[150px] h-[150px] rounded-full object-cover" />
                  <div class="card-body flex flex-col gap-2">
                    <span><input type="text" id="name" class="px-3 py-4 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" value="Name - {{ user_profile.full_name }}" /></span>
                    <span><input type="text" id="bio" class="px-3 py-4 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" value="Bio - {{ user_profile.bio }}" /></span>
                    <span><input type="text" id="phone" class="px-3 py-4 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500" value="Phone - {{ user_profile.phone }}" /></span>
                    <span class="px-3 py-4 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500">
                      {% if user_profile.verified == True %}
                        <span class="flex items-center gap-2">Verified<i class="gicon gi-check fill text-[24px] text-[#5caf90]"></i></span>
                      {% else %}
                        <span class="flex items-center gap-2">Not verified<div class="text-red-500 text-3xl">✖</div></span>
                      {% endif %}
                    </span>
                    <span class="px-3 py-4 border border-gray-300 rounded-md focus:ring-indigo-500 focus:border-indigo-500"><button type="submit" class="gi-btn-2 transition-all duration-[0.3s] ease-in-out py-[10px] px-[15px] text-[14px] font-medium bg-[#5caf90] text-[#fff] text-center rounded-[5px] hover:bg-[#4b5966] hover:text-[#fff]">Edit Profile</button></span>
                  </div>
                </div>
              </div>

              <!-- Orders Tab -->
              <div id="orders" class="tab-content hidden">
                <h2 class="text-xl font-bold mb-4">Your Orders</h2>
                <table class="w-full h-full text-left border-collapse border border-gray-300">
                  <thead class="bg-gray-200">
                    <tr>
                      <th class="border border-gray-300 px-4 py-2">Order ID</th>
                      <th class="border border-gray-300 px-4 py-2">Date</th>
                      <th class="border border-gray-300 px-4 py-2">Status</th>
                      <th class="border border-gray-300 px-4 py-2">Paid Status</th>
                      <th class="border border-gray-300 px-4 py-2">Amount</th>
                      <th class="border border-gray-300 px-4 py-2">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders_list %}
                      <tr>
                        <td class="border border-gray-300 px-4 py-2">INVOICE_NO-{{ order.id }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ order.order_date }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ order.product_status|title }}</td>
                        <td class="border border-gray-300 px-4 py-2">
                          {% if order.paid_status == True %}
                            <i class="gicon gi-check fill text-[24px] text-[#5caf90]"></i>
                          {% else %}
                            <div class="text-red-500 text-3xl mb-4">✖</div>
                          {% endif %}
                        </td>
                        <td class="border border-gray-300 px-4 py-2">${{ order.price }}</td>
                        <td class="border border-gray-300 px-4 py-2">
                          <a href="{% url 'essence:order_detail' order.id %}">View</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <!-- Track Tab -->
              <div id="track" class="tab-content hidden">
                <h2 class="text-xl font-bold mb-4">Track Your Order</h2>
                <p>Enter your order ID to track its status.</p>
              </div>

              <!-- Address Tab -->
              <div id="address" class="tab-content hidden">
                <form method="POST" class="mb-4">
                  {% csrf_token %}
                  <label class="block text-sm font-medium text-gray-700 mb-1">Address</label>
                  <div class="flex flex-col sm:flex-row sm:space-x-4">
                    <input type="text" required name="address" id="address" class="w-full sm:w-1/2 px-4 py-2 border border-gray-300 rounded-md focus:ring-1 focus:ring-[#5caf90] focus:border-[#5caf90] focus:outline-none mb-2 sm:mb-0" placeholder="Address" />
                    <input type="text" required name="mobile" class="w-full sm:w-1/2 px-4 py-2 border border-gray-300 rounded-md focus:ring-1 focus:ring-[#5caf90] focus:border-[#5caf90] focus:outline-none" placeholder="Phone" />
                  </div>
                  <div class="flex justify-end mt-2">
                    <button type="submit" class="gi-btn-2 mt-2 transition-all duration-[0.3s] ease-in-out py-[10px] px-[15px] text-[14px] font-medium bg-[#5caf90] text-[#fff] text-center rounded-[5px]">Submit</button>
                  </div>
                </form>
                <div class="w-full border-t border-gray-300 my-6"></div>

                <div class="grid grid-cols-1 xl:grid-cols-4 md:grid-cols-2 gap-4">
                  {% for address in address %}
                    <div>
                      <h2 class="text-xl font-semibold text-gray-800 mb-4">Address {{ forloop.counter }}</h2>
                      <div class="border rounded border-1 border-gray-300 p-1 h-[100px]">
                        <p class="text-gray-600">{{ address.address }}</p>
                        <div class="flex items-center gap-4 mt-4">
                          {% if address.status %}
                            <i data-address-id="{{ address.id }}" class="check check{{ address.id }} gicon gi-check fill text-[24px] text-[#5caf90]"></i>
                            <button data-address-id="{{ address.id }}" class="hidden make-default-address button{{ address.id }} action_btn gi-btn-2 transition-all duration-[0.3s] ease-in-out py-[10px] px-[15px] text-[14px] font-medium bg-[#5caf90] text-[#fff] text-center rounded-[5px]">Make Default</button>
                          {% else %}
                            <i data-address-id="{{ address.id }}" class="check check{{ address.id }} gicon gi-check fill text-[24px] text-[#5caf90]"></i>
                            <button data-address-id="{{ address.id }}" class="make-default-address button{{ address.id }} action_btn gi-btn-2 transition-all duration-[0.3s] ease-in-out py-[10px] px-[15px] text-[14px] font-medium bg-[#5caf90] text-[#fff] text-center rounded-[5px]">Make Default</button>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <!-- Account Tab -->
              <div id="account" class="tab-content hidden">
                <h2 class="text-xl font-bold mb-4">Account Details</h2>
                <p>Update your account details and password here.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'components/ui/footer.html' %}
  {% include 'components/ui/quickmodel.html' %}
{% endblock %}
