{% extends 'base.html' %} {% block title %}
  Welcome to Ecom
{% endblock %}
{% load static %}
{% block content %}
  {% include 'components/ui/header.html' %}
  {% include 'components/ui/sidebar.html' %}
  {% include 'components/ui/Breadcrumb.html' with title='Register' active='Register' %}

  <!-- Register section -->
  <section class="gi-register py-[40px] max-[767px]:py-[30px]">
    <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
      <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center items-center">
        <h2 class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]">Register<span></span></h2>
        <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">Best place to buy and sell digital products.</p>
      </div>
      <div class="flex flex-wrap w-full">
        <div class="gi-register-wrapper max-w-[934px] my-[0] mx-auto px-[12px]">
          <div class="gi-register-container border-[1px] border-solid border-[#eee] p-[30px] text-left bg-[#fff] rounded-[5px] max-[575px]:p-[15px]">
            <div class="gi-register-form">
              {% if form.errors %}
                <div>
                  <strong>{{ form.errors }}</strong>
                </div>
              {% endif %}
              <form method="post" action="{% url 'userauth:sign-up' %}" class="flex flex-row flex-wrap mx-[-15px]">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <span class="gi-register-wrap gi-register-half w-[50%] px-[15px]">
                  <label for="full_name">Full Name*</label>
                  {{ form.full_name }}
                </span>
                <span class="gi-register-wrap gi-register-half w-[50%] px-[15px]">
                  <label for="username">Username*</label>
                  {{ form.username }}
                </span>
                <span class="gi-register-wrap gi-register-half w-[50%] px-[15px]">
                  <label for="email">Email*</label>
                  {{ form.email }}
                </span>
                <span class="gi-register-wrap gi-register-half w-[50%] px-[15px]">
                  <label for="phone">Phone Number*</label>
                  <input type="text" name="phone" placeholder="Enter your phone number" class="w-full bg-transparent border-[1px] border-solid border-[#eee] text-[#777] text-[14px] mb-[26px] px-[15px] outline-none rounded-[5px] h-[50px]" required />
                </span>
                <span class="gi-register-wrap relative px-[5px]">
                  <label for="password">Passsword*</label>
                  {{ form.password1 }}
                  <button type="button" class="absolute right-[15px] top-[50%] transform -translate-y-[50%]" onclick="togglePasswordVisibility('id_password1', this)">
                    <svg id="icon-eye" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    <svg id="icon-eye-off" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M17.94 17.94a10.11 10.11 0 0 1-5.94 2.06c-5.5 0-10-4.5-10-10a10.11 10.11 0 0 1 2.06-5.94"></path>
                      <path d="M1 1l22 22"></path>
                    </svg>
                  </button>
                </span>
                <span class="gi-register-wrap relative px-[5px]">
                  <label for="conform-password">Passsword*</label>
                  {{ form.password2 }}
                  <button type="button" class="absolute right-[15px] top-[50%] transform -translate-y-[50%]" onclick="togglePasswordVisibility('id_password2', this)">
                    <svg id="icon-eye" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                      <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    <svg id="icon-eye-off" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hidden" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M17.94 17.94a10.11 10.11 0 0 1-5.94 2.06c-5.5 0-10-4.5-10-10a10.11 10.11 0 0 1 2.06-5.94"></path>
                      <path d="M1 1l22 22"></path>
                    </svg>
                  </button>
                </span>
                <span class="gi-register-wrap gi-recaptcha w-full flex justify-center px-[15px]"><span class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></span></span>
                <span class="gi-register-wrap gi-register-btn flex flex-row justify-between items-center w-full px-[15px] max-[767px]:flex-col">
                  <span class="text-[#777] text-[14px] tracking-[0.02rem]">
                    Already have an account?
                    <a href="{% url 'userauth:sign-in' %}" class="underline ml-[10px] text-[#4b5966] text-[14px] transition-all duration-[0.3s] ease-in-out hover:text-[#5caf90]">Login</a>
                  </span>
                  <button type="submit" class="gi-btn-1 py-[8px] px-[15px] bg-[#4b5966] text-[#fff] border-0 transition-all duration-[0.3s] ease-in-out text-center text-[14px] font-semibold relative rounded-[5px] max-[767px]:mt-[15px] hover:bg-[#5caf90]">Register</button>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function togglePasswordVisibility(inputId, toggleButton) {
      const passwordInput = document.getElementById(inputId)
      const iconEye = toggleButton.querySelector('#icon-eye')
      const iconEyeOff = toggleButton.querySelector('#icon-eye-off')
    
      if (passwordInput.type === 'password') {
        passwordInput.type = 'text'
        iconEye.classList.add('hidden')
        iconEyeOff.classList.remove('hidden')
      } else {
        passwordInput.type = 'password'
        iconEye.classList.remove('hidden')
        iconEyeOff.classList.add('hidden')
      }
    }
  </script>

  {% include 'components/ui/footer.html' %}
  {% include 'components/ui/quickmodel.html' %}
  {% include 'components/ui/feature.html' %}
{% endblock %}
