{% extends 'base.html' %} {% block title %}
  Cart
{% endblock %}
{% load static %} {% block content %}
  {% include 'components/ui/header.html' %}
  {% include 'components/ui/Breadcrumb.html' with title='Checkout' active='Checkout' %}
  {% include 'components/ui/sidebar.html' %}
  <section class="gi-checkout-section py-[40px] text-[14px] max-[767px]:py-[30px]">
    <h2 class="hidden">Checkout Page</h2>
    <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px] relative">
      <div class="flex flex-wrap w-full">
        <div class="gi-checkout-leftside px-[12px] min-[992px]:w-[66.66%] w-full max-[991px]:mt-[30px]">
          <div class="col-span-2 grid grid-cols-2 gap-6">
            {% for item in cart_data.product_details %}
              <a href="{% url 'essence:product-detail' item.pid %}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{ item.images }}" alt="{{ item.title }}" />
                <div class="flex flex-col justify-between p-4 leading-normal">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight">{{ item.title }}</h5>
                  <p class="mb-3 font-normal">Qty: {{ item.qty }}</p>
                  <p class="mb-3 font-normal">Price: ${{ item.price }}</p>
                  <p class="mb-3 font-normal">Price: ${{ item.product_by_amount }}</p>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
        <!-- Sidebar Area Start -->
        <div class="gi-checkout-rightside px-[12px] min-[992px]:w-[33.33%] w-full">
          <div class="gi-sidebar-wrap border-[1px] border-solid border-[#eee] mb-[30px] p-[15px] rounded-[5px]">
            <!-- Sidebar Summary Block -->
            <div class="gi-sidebar-block">
              <div class="gi-sb-title">
                <h3 class="gi-sidebar-title text-[20px] max-[1199px]:text-[18px] font-semibold tracking-[0] mb-[0] relative text-[#4b5966] leading-[1.2]">Summary</h3>
              </div>
              <div class="gi-sb-block-content mt-[15px]">
                {% if cart_data.all_total_amount %}
                  <div class="gi-checkout-summary">
                    <div class="flex justify-between items-center mb-[10px]">
                      <span class="text-left text-[#777] text-[14px] leading-[24px] tracking-[0]">Sub-Total</span>
                      <span id="subtotal" data-value="{{ cart_data.all_total_amount }}" class="text-right text-[#4b5966] text-[15px] leading-[24px] font-medium">${{ cart_data.all_total_amount }}</span>
                    </div>
                    <div class="flex justify-between items-center mb-[10px]">
                      <span class="text-left text-[#777] text-[14px] leading-[24px] tracking-[0]">Tax</span>
                      <span id="tax-charge" class="text-right text-[#4b5966] text-[15px] leading-[24px] font-medium"></span>
                    </div>
                    <div class="gi-checkout-summary-total border-t-[1px] border-solid border-[#eee] pt-[19px] mb-[0] mt-[16px] flex justify-between items-center">
                      <span class="text-left text-[16px] font-semibold text-[#4b5966] tracking-[0] font-manrope">Total Amount</span>
                      <span id="total-amount" class="text-right text-[16px] font-semibold text-[#4b5966] font-manrope"></span>
                    </div>
                  </div>
                {% else %}
                  <span class="text-yellow-500">Please add the product is cart</span>
                {% endif %}
                <div class="gi-checkout-pro">
                  <form method="POST" class="mb-4">
                    {% csrf_token %}
                    <input type="text" name="code" placeholder="Enter Coupon Code..." class="w-full border rounded p-2" />
                    <button class="mt-2 w-full bg-teal-600 text-white py-2 rounded hover:bg-teal-700" type="submit" name="login">Apply</button>
                  </form>
                  <!-- Payment Buttons -->
                  <button class="w-full bg-purple-600 text-white py-2 rounded mb-2 hover:bg-purple-700">Pay With Stripe (Credit or Debit Card)</button>
                  <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">Pay With PayPal</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'components/ui/footer.html' %}
  {% include 'components/ui/quickmodel.html' %}
{% endblock %}
