{% load static %}
<section class="gi-blog-section py-[40px] max-[767px]:py-[30px] wow fadeInUp">
  <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
    <div class="w-full flex flex-wrap mb-[-24px]">
      <div class="section-title w-full mb-[20px] pb-[20px] flex justify-between pb-[20px] z-[5] max-[575px]:flex-col px-[12px]">
        <div class="section-detail">
          <h2 class="gi-title mb-[0] text-[25px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1] font-manrope max-[991px]:text-[24px] max-[767px]:text-[22px] max-[575px]:text-[20px]">Latest <span class="text-[#5caf90]">Blog</span></h2>
          <p class="max-w-[400px] mt-[10px] text-[14px] text-[#777] leading-[18px]">We tackle interesting topics every day in 2023.</p>
        </div>
        <span class="title-link flex flex-end max-[575px]:mt-[15px]"><a href="blog-left-sidebar.html" class="max-[575px]:text-[14px] text-[#777] flex items-center">All Blogs<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out h-[18px] ml-[10px] text-[#777]"></i></a></span>
      </div>
      <div class="gi-blog-carousel owl-carousel px-[12px]">
        <div class="gi-blog-item">
          <div class="blog-info transition-all duration-[0.3s] ease-in-out w-full mb-[24px] bg-[#fff] rounded-[5px]">
            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
              <a href="#"><img src="{% static 'assets/img/blog/1.jpg' %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[5px] h-full w-full" /></a>
            </figure>
            <div class="detail w-full m-[0]">
              <label class="mt-[20px] inline-block text-[13px] text-[#999] rounded-[5px]">
                June 30,2022 -
                <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[#999] hover:text-[#5caf90]">Organic</a>
              </label>
              <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Marketing Guide: 5 Steps to Success to way.</a></h3>
              <div class="more-info">
                <a href="blog-detail-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gi-blog-item">
          <div class="blog-info">
            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
              <a href="#"><img src="{% static 'assets/img/blog/2.jpg' %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[5px] h-full w-full" /></a>
            </figure>
            <div class="detail w-full m-[0]">
              <label class="mt-[20px] inline-block text-[13px] text-[#999] rounded-[5px]">
                April 02,2022 -
                <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[#999] hover:text-[#5caf90]">Fruits</a>
              </label>
              <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Best way to solve business deal issue in market.</a></h3>
              <div class="more-info">
                <a href="blog-detail-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gi-blog-item">
          <div class="blog-info">
            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
              <a href="#"><img src="{% static 'assets/img/blog/3.jpg' %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[5px] h-full w-full" /></a>
            </figure>
            <div class="detail w-full m-[0]">
              <label class="mt-[20px] inline-block text-[13px] text-[#999] rounded-[5px]">
                Mar 09,2022 -
                <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[#999] hover:text-[#5caf90]">Vegetables</a>
              </label>
              <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">31 grocery customer service stats know in 2019.</a></h3>
              <div class="more-info">
                <a href="blog-detail-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gi-blog-item">
          <div class="blog-info">
            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
              <a href="#"><img src="{% static 'assets/img/blog/4.jpg' %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[5px] h-full w-full" /></a>
            </figure>
            <div class="detail w-full m-[0]">
              <label class="mt-[20px] inline-block text-[13px] text-[#999] rounded-[5px]">
                January 25,2022 -
                <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[#999] hover:text-[#5caf90]">Fastfood</a>
              </label>
              <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Business ideas to grow your business traffic.</a></h3>
              <div class="more-info">
                <a href="blog-detail-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gi-blog-item">
          <div class="blog-info">
            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
              <a href="#"><img src="{% static 'assets/img/blog/5.jpg' %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[5px] h-full w-full" /></a>
            </figure>
            <div class="detail w-full m-[0]">
              <label class="mt-[20px] inline-block text-[13px] text-[#999] rounded-[5px]">
                December 10,2021 -
                <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[#999] hover:text-[#5caf90]">Fruits</a>
              </label>
              <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">Marketing Guide: 5 Steps way to Success.</a></h3>
              <div class="more-info">
                <a href="blog-detail-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gi-blog-item">
          <div class="blog-info">
            <figure class="blog-img w-full h-auto m-[0] relative overflow-hidden rounded-[5px]">
              <a href="#"><img src="{% static 'assets/img/blog/6.jpg' %}" alt="news imag" class="transition-all duration-[0.3s] ease-in-out rounded-[5px] h-full w-full" /></a>
            </figure>
            <div class="detail w-full m-[0]">
              <label class="mt-[20px] inline-block text-[13px] text-[#999] rounded-[5px]">
                August 08,2021 -
                <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[#999] hover:text-[#5caf90]">Vegetables</a>
              </label>
              <h3 class="mt-[10px] mb-[15px] p-[0] leading-[26px]"><a href="#" class="font-Poppins text-[#4b5966] text-[17px] font-medium leading-[22px]">15 customer service stats idea know in 2023.</a></h3>
              <div class="more-info">
                <a href="blog-detail-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[#4b5966] text-[13px] flex items-center hover:bg-[#fff] hover:text-[#5caf90]">Read More<i class="fi-rr-angle-double-small-right transition-all duration-[0.3s] ease-in-out ml-[5px] text-[#4b5966] text-[13px] flex"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
