{% load static %}
<div class="gi-shop-sidebar min-[992px]:order-[-1] min-[768px]:order-[6] min-[992px]:w-[25%] w-full px-[12px] max-[991px]:mt-[30px]">
  <div id="shop_sidebar">
    <div class="gi-sidebar-wrap p-[15px] rounded-[5px] border-[1px] border-solid border-[#eee] flex flex-col gap-8">
      <!-- Sidebar Category Block -->
      <div class="gi-sidebar-block flex flex-col gap-8">
        <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
          <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Category</h3>
        </div>
        <div class="gi-sb-block-content">
          <ul>
            {% for category in categories %}
              <li>
                <div class="gi-sidebar-block-item py-[15px] relative flex flex-row">
                  <input type="checkbox" data-filter="category" value="{{ category.id }}" class="category-checkbox filter-checkbox w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" id="category-{{ forloop.index }}" />
                  <a href="javascript:void(0)" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]" onclick="toggleCheckbox(event, 'category-{{ forloop.index }}')">
                    <span class="flex">
                      <img src="{{ category.image.url }}" alt="{{ category.title }}" class="w-[20px] h-[20px] mr-[7px]" />
                      {{ category.title }}
                    </span>
                  </a>
                  <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
                  <span class="text-[12px]">{{ category.product_count }}</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Sidebar Weight Block -->
      <div class="gi-sidebar-block mb-[15px]">
        <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
          <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Weight</h3>
        </div>
        <div class="gi-sb-block-content mt-[15px]">
          <ul>
            <li>
              <div class="gi-sidebar-block-item py-[15px] relative flex flex-row">
                <input type="checkbox" value="" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" />
                <a href="#" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">500gm Pack</a>
                <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li>
              <div class="gi-sidebar-block-item py-[15px] relative flex flex-row">
                <input type="checkbox" value="" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" />
                <a href="#" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">1kg Pack</a>
                <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li>
              <div class="gi-sidebar-block-item py-[15px] relative flex flex-row">
                <input type="checkbox" value="" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" />
                <a href="#" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">2kg Pack</a>
                <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li>
              <div class="gi-sidebar-block-item py-[15px] relative flex flex-row">
                <input type="checkbox" value="" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" />
                <a href="#" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">5kg Pack</a>
                <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li>
              <div class="gi-sidebar-block-item py-[15px] relative flex flex-row">
                <input type="checkbox" value="" class="w-full h-[calc(100% - 5px)] absolute opacity-[0] cursor-pointer z-[9] top-[50%] translate-y-[-50%]" />
                <a href="#" class="w-full text-[#777] text-[14px] mt-[0] leading-[20px] font-normal capitalize cursor-pointer flex justify-between pl-[30px]">10kg Pack</a>
                <span class="checked absolute top-[50%] left-[0] h-[18px] w-[18px] bg-[#fff] border-[1px] border-solid border-[#eee] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Sidebar Color item -->
      <div class="gi-sidebar-block color-block gi-sidebar-block-clr">
        <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
          <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Color</h3>
        </div>
        <div class="gi-sb-block-content mt-[20px]">
          <ul class="w-full flex flex-wrap flex-row">
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #c4d6f9;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #ff748b;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #000000;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="active mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #2bff4a;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #ff7c5e;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #f155ff;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #ffef00;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #c89fff;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #7bfffa;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #56ffc1;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #ffdb9f;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #9f9f9f;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
            <li class="mr-[10px]">
              <div class="gi-sidebar-block-item py-[5px] border-[0] flex flex-row relative">
                <input type="checkbox" value="" class="w-[20px] h-[20px] absolute opacity-[0] cursor-pointer z-[9] top-[50%] left-[0] translate-y-[-50%]" />
                <span class="gi-clr-block transition-all duration-[0.3s] ease-in-out w-[22px] h-[22px] rounded-[50%] opacity-[0.7] bg-transparent cursor-pointer tracking-[0.02rem]" style="background-color: #6556ff;"></span>
                <span class="checked w-[20px] h-[20px] bg-transparent border-[0] absolute top-[50%] left-[0] transition-all duration-[300ms] linear translate-y-[-50%] rounded-[5px] overflow-hidden"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Sidebar Price Block -->
      <div class="gi-sidebar-block">
        <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
          <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Price</h3>
        </div>
        <div class="gi-sb-block-content gi-price-range-slider es-price-slider mt-[20px]">
          <div class="gi-price-filter flex justify-between flex-col">
            <div class="gi-price-input mb-[15px] p-[10px] flex justify-center items-center rounded-[5px] bg-[#f8f8fb]">
              <label class="filter__label text-[14px] text-[#777] flex flex-col justify-center items-center">From<input type="text" class="filter__input rounded-[5px] h-[30px] border-[0] p-[0] max-w-[48px] leading-[30px] bg-[#fff] text-center text-[14px] text-[#777] outline-[0]" /></label>
              <span class="gi-price-divider relative border-b-[1px] border-solid border-[#777] w-[10px] h-[1px] mx-[10px]"></span>
              <label class="filter__label text-[14px] text-[#777] flex flex-col justify-center items-center">To<input type="text" class="filter__input rounded-[5px] h-[30px] border-[0] p-[0] max-w-[48px] leading-[30px] bg-[#fff] text-center text-[14px] text-[#777] outline-[0]" /></label>
            </div>
            <div id="gi-sliderPrice" class="filter__slider-price" data-min="0" data-max="250" data-step="10"></div>
          </div>
        </div>
      </div>
      <!-- Sidebar tags -->
      <div class="gi-sidebar-block">
        <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
          <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Tags</h3>
        </div>
        <div class="gi-tag-block gi-sb-block-content mt-[15px]">
          <label class="gi-btn-2 transition-all duration-300 ease-in-out my-2 py-2 px-4 inline-flex flex-row items-center justify-center capitalize font-medium text-sm tracking-wide bg-[#5caf90] text-white rounded-lg cursor-pointer peer-checked:bg-red-500 shadow-md hover:bg-[#4e9f7c]">
            <input type="checkbox" class="hidden peer" />
            <span class="flex items-center">Clothes</span>
            <i class="gicon gi-check w-5 h-5 text-white hidden peer-checked:inline flex items-center ml-2"></i>
          </label>
        </div>
      </div>
      <!-- Sidebar vendor -->
      <div class="gi-sidebar-block">
        <div class="gi-sb-title border-b-[1px] border-solid border-[#eee] pb-[15px]">
          <h3 class="gi-sidebar-title font-semibold tracking-[0] relative text-[#4b5966] w-full flex justify-between font-Poppins text-[17px] leading-[1.2]">Vendor</h3>
        </div>
        <div class="gi-tag-block mt-[15px] gi-sb-block-content grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-2">
          {% for vendor in vendors %}
            <label class="gi-btn-2 transition-all duration-300 ease-in-out my-2 py-2 px-4 inline-flex flex-row items-center justify-center capitalize font-medium text-sm tracking-wide bg-[#5caf90] text-white rounded-lg cursor-pointer peer-checked:bg-red-500 shadow-md hover:bg-[#4e9f7c]">
              <input type="checkbox" class="hidden peer filter-checkbox" data-filter="vendor" value="{{ vendor.id }}" />

              <span class="flex items-center text-sm peer-checked:text-[calc(1rem-2px)]">{{ vendor.title }}</span>
              <i class="gicon gi-check w-5 h-5 text-white hidden peer-checked:inline flex items-center ml-2"></i>
            </label>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleCheckbox(event, checkboxId) {
    const checkbox = document.getElementById(checkboxId)
    const checkedIcon = event.target.closest('.gi-sidebar-block-item').querySelector('.checked')
  
    if (checkbox.checked) {
      checkbox.checked = false
      checkedIcon.style.backgroundColor = '#fff'
    } else {
      checkbox.checked = true
      checkedIcon.style.backgroundColor = '#4CAF50'
    }
  
    checkbox.dispatchEvent(new Event('change'))
  }
</script>
