<div>
  <div class="flex flex-wrap relative">
    {% if messages %}
      {% for message in messages %}
        <div class="p-4 mb-4 text-sm rounded-lg alert {% if 'success' in message.tags %}
            
         text-green-800 bg-green-50 success-message

          {% elif 'warning' in message.tags %}
            
         text-black bg-yellow-50 warning-message

          {% elif 'error' in message.tags %}
            
         text-white bg-red-400 warning-message

          {% endif %}"
          role="alert">
          <span class="font-medium">{{ message }}</span>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const successMessages = document.querySelectorAll('.success-message')
      function hideMessage(element) {
        element.style.transition = 'opacity 0.5s ease'
        element.style.opacity = '0'
        setTimeout(() => {
          element.remove()
        }, 500)
      }
      successMessages.forEach((message) => {
        setTimeout(() => hideMessage(message), 3000)
      })
      warningMessages.forEach((message) => {
        setTimeout(() => hideMessage(message), 1000)
      })
      errorMessages.forEach((message) => {
        setTimeout(() => hideMessage(message), 1000)
      })
    })
  </script>
</div>
