{% extends 'base.html' %} {% block title %}
  Welcome to Ecom
{% endblock %}
{% load static %} {% block content %}
  {% include 'components/ui/header.html' %}
  {% include 'components/ui/sidebar.html' %}
  {% include 'essence/Home/Hero_Silder.html' %}
  {% include 'essence/Home/Category.html' %}
  {% include 'essence/Home/Day_of_Deal.html' %}
  {% include 'essence/Home/Banner.html' %}
  {% include 'essence/Home/Product_list.html' %}
  {% include 'essence/Home/Offer_Banner.html' %}
  {% include 'essence/Home/Service.html' %}
  {% include 'essence/Home/Trending.html' %}
  {% include 'essence/Home/Blog.html' %}
  {% include 'components/ui/footer.html' %}
  {% include 'components/ui/quickmodel.html' %}

  {% comment %} {% include 'components/ui/newsletter.html' %} {% endcomment %}
{% endblock %}
